<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>This is a about page</h1>
    <p>This is a paragraph.</p>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
